$containerWidth: 1200px;

$buttonBgColor: rgba(136, 31, 217, 1);
$buttonBgColorDisabled: rgba(136, 31, 217, .4);
$buttonBgColorHover: rgba(136, 31, 217, 0.8);

$fontFamily: "Open Sans", sans-serif;
$fontSize: 14px;
$font: $fontSize $fontFamily;